$orange: #f9d10d;
$greenT: rgba(96, 227, 161, 0.6);
$green: rgb(96, 227, 161);
$black: rgb(17, 21, 24);


$ssb: 600 14px 'Sofia Pro Semi', 'Arial', sans-serif;
$sl: 300 14px 'Sofia Pro', 'Arial', sans-serif;
$sel: 200 14px 'Sofia Pro', 'Arial', sans-serif;
$sr: normal 14px 'Sofia Pro', 'Arial', sans-serif;
$sm: 500 14px 'Sofia Pro', 'Arial', sans-serif;
$sb: bold 14px 'Sofia Pro', 'Arial', sans-serif;
$sbl: 900 14px 'Sofia Pro', 'Arial', sans-serif;
$sul: 200 14px 'Sofia Pro', 'Arial', sans-serif;

